extends ../layout/_layout

block title
  title indexPage title
  
block content

  include partials/_slider

  include partials/_ajax

  .row
    .grid-3
      i.fa.fa-beer
    .grid-3
      i.fa.fa-tree
    .grid-3
      i.fa.fa-anchor
    .grid-3
      i.fa.fa-camera-retro

  .row
    .span-3
      i.fa.fa-camera-retro
    .span-3
      i.fa.fa-anchor
    .span-3
      i.fa.fa-tree
    .span-3
      i.fa.fa-beer

  .row
    .grid-4
      h1 Ich bin ein H1
      h2 Ich bin ein H2
      h3 Ich bin ein H3
      h4 Ich bin ein H4
      br
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    .grid-4
      img#bild.bild(src='assets/images/example.jpg', data-attr='assets/images/example.jpg')
    .grid-4
      img#bild.bild(src='assets/images/example.jpg', data-attr='assets/images/example.jpg')