// -----------------------------------------------------------------------
// Margins, Paddings, etc.
// -----------------------------------------------------------------------

$dm:		     20px;
$dp:	       20px;

// -----------------------------------------------------------------------
// Container, Widths, Breakpoints
// -----------------------------------------------------------------------

$containerWidth:      1088;
$mobileWidth:         480px;
$tabletWidth:         768px;
$desktopWidth:        1024px;